/* Tipografias y textos */

h1{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    font-size: 1.1rem;
}

/* Fin de Tipografias y textos */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: none;
}

/* Movil */

/* Navbar*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 10;

}

.logo {
    max-width: 6rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}

.nav-animales {  
    height: 2.5rem;
    visibility: visible;
}

.nav-busca { 
    height: 2.5rem;
    visibility: visible;
}

.nav-adopcion { 
    height: 2.5rem;
    visibility: visible;
}
.nav-adopcion2{
    visibility: hidden;
}
.nav-animales2{
    visibility: hidden;
}

.nav-busca2{
    visibility: hidden;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}

/* Fin de Navbar*/

/* Contenido Adopcion Movil */

.a-quien-adoptar {
    margin-top: 3rem;
}

.a-quien-adoptar h1 {
    font-size: 1.1rem;
    font-weight: 750;
color:#2b4e9d;
}

.seleccion-animal {
    display: flex;
    flex-direction: column;
    margin:auto;
    justify-content: center;
    align-items: center;
    gap: 2.3rem;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    z-index: 1;
}

.circulos {
    width: 55%;
    height: auto;
}

.img-btn {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    z-index: -1;
}

.img-btn img { /* tamaño opcional */
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.4));
    transition: 0.2s;
    
}

.img-btn img:hover {
    filter: drop-shadow(0 8px 12px rgba(0,0,0,0.45));
    transform: scale(1.03);
}






/* Fin Contenido Adopcion Movil */

/* Fin de Movil */


/* Escritorio */

@media screen and (max-width: 550px) {

    /* Navbar Escritorio */
    
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        background-color: white;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
        color: black;
        align-items: right;
        padding: 2rem;
    }

    .nav-list :hover{
        color: orange;
    }

    .nav-adopcion2{
        visibility:visible;
    }
    .nav-animales2{
        visibility: visible;
    }

    .nav-busca2{
        visibility: visible;
    }

    .nav-animales {  
        visibility: hidden;
    }

    .nav-busca { 
        visibility: hidden;
    }

    .nav-adopcion { 
        visibility: hidden;
    }

    /* Fin de Navbar Escritorio */


    /* Contenido Escritorio */





    /* Fin de Contenido Escritorio */
}

@media (min-width: 600px) {
  .seleccion-animal {
    flex-direction: row;
    align-items: center;
  }

  .circulos {
    width: 75%;
  height: auto;
  }

  .a-quien-adoptar h1 {
    font-size: 1.5rem;
}
}

@media (min-width: 800px) {

  .a-quien-adoptar h1 {
    font-size: 1.6rem;
}
}

/* Fin Escritorio */

