
h1{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 1rem;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    font-size: 1.1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;

}

.logo {
    max-width: 6rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    padding: 1.3rem;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}

.nav-animales {  
    height: 2.5rem;
    visibility: visible;
}

.nav-busca { 
    height: 2.5rem;
    visibility: visible;
}

.nav-adopcion { 
    height: 2.5rem;
    visibility: visible;
}
.nav-adopcion2{
    visibility: hidden;
}
.nav-animales2{
    visibility: hidden;
}

.nav-busca2{
    visibility: hidden;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
        padding: rem;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1.5rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 20rem;
        padding: 1rem;
        padding-right: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        background-color: white;
    }

    .nav.visible {
        opacity: 0.9;
        visibility: visible;
    }
    
     .nav-list {
        flex-direction: column;
        align-items: end;
        color: black;
        align-items: right;
        padding: 0.5rem;
    }

    .nav-list :hover{
        color: orange;
    }

    .nav-adopcion2{
        visibility:visible;
        font-family: "Anton", sans-serif;
        font-style: normal;
        font-size: 2rem;
        text-align: right;
        
    }
    .nav-animales2{
        visibility: visible;
        font-family: "Anton", sans-serif;
        font-style: normal;
        font-size: 2rem;
        text-align: center;
    }

    .nav-busca2{
        visibility: visible;
        font-family: "Anton", sans-serif;
        font-style: normal;
        font-size: 2rem;
        text-align: center;
    }

    .nav-animales {  
        visibility: hidden;
    }

    .nav-busca { 
        visibility: hidden;
    }

    .nav-adopcion { 
        visibility: hidden;
    }

}

.titulo {
    font-family: "Anton", sans-serif;
    font-weight: 100;
    font-size: 4rem;
    font-style: normal;
    padding-left: 2rem;
    line-height: 4rem;
    text-align: left;
    color: #2b4e9d;
}

.texto {
    padding: 2rem;
    text-align: left;
}

.animales {
    max-width: 35rem;
}

.eslogan {
    padding: 2rem;

    text-align: center;           
    background-color: #2b4e9d;       
    align-items: center;
    color: white;
}

.eslogan2 {
    font-family: "Anton", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3.5rem;
    line-height: 4rem;
}

.adopta {
    max-width: 25rem;
    padding: 2rem;
    padding-bottom: 5rem;
    align-items: center;
}

.mascotas img {
    max-width: 20rem;
    border-radius: 4rem;
    margin: 2rem;
    justify-content: center;
}