
h1{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    font-size: 1.1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;

}

.logo {
    max-width: 6rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a {
    text-decoration: none;
    color: #2b4e9d;
   
}

.nav-animales {  
    height: 2.5rem;
}

.nav-busca { 
    height: 2.5rem;
}

.nav-adopcion { 
    height: 2.5rem;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
        color: #2b4e9d;
    }
}

.titulo {
    padding-left: 2rem;
    text-align: left;
    color: #2b4e9d;
}

.texto {
    padding: 2rem;
    text-align: left;
}

.animales {
    max-width: 25rem;
    margin-bottom: 0%;
}

.eslogan {
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;           
    background-color: #2b4e9d;       
    align-items: center;
    color: white; 
}

.adopta {
    max-width: 30rem;
    padding: 1rem;
    padding-bottom: 3rem;
    align-items: center;
}