/* Tipografias y textos */

h1{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    font-size: 1.1rem;
}

/* Fin de Tipografias y textos */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: none;
}

/* Movil */

/* Navbar*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 10;
    box-shadow: 5px 5px 10px #ededed;
    margin-bottom: 1rem;

}

.logo {
    max-width: 6rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    padding: 1.3rem;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}

.nav-animales {  
    height: 2.5rem;
    visibility: visible;
}

.nav-busca { 
    height: 2.5rem;
    visibility: visible;
}

.nav-adopcion { 
    height: 2.5rem;
    visibility: visible;
}
.nav-adopcion2{
    visibility: hidden;
}
.nav-animales2{
    visibility: hidden;
}

.nav-busca2{
    visibility: hidden;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}

.desplegable-animales {visibility: hidden;}
/* Fin de Navbar*/

/* Contenido Adopcion Movil */

.padre{ display: flex;
  justify-content: center; 
  align-items: center;     
  width:100%;}

.caja-titulo{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-style: normal;
    color:#fece02;
    font-size: 1.4rem;
    justify-items: left;
    text-align: left;
}


.info-formulario {
    font-weight: 300;
    text-align: left; 
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color:#fed00247;
    padding: 2rem;
    border-radius: 20px; 
}


#upload-button{
    padding: 10px;
    background: #7ac6be;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    }

.caja-titulo {
    display: flex;
    justify-content: center;
}


    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 12px;
    }


    input, textarea {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }


    .columna-formulario {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    
    .encabezado-formulario img{
    display: flex;
    width: 100%;
    justify-content: center;
}


    .gato-formulario {
    display: flex;
    width: 100%;
}

   
.advertencias {
    display: flex;
    width: 100%;
    padding: 10px;
}


summary  {padding: 10px;
        background: #7ac6be1b;
        color: rgb(249, 0, 0);
        border: none;
        border-radius: 50px;
        cursor: pointer;}


summary::-webkit-details-marker {
    display: none;
}


summary {
    list-style: none;
}


.adv {
    position: relative;
    padding-right: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
}


.adv::after {
    content: "▶";              
    position: absolute;
    right: 1px;                  
    top: 50%;
    transform: translateY(-55%);
    transition: transform 0.3s;
    padding-right: 8px;
}


details[open] .adv::after {
    transform: translateY(-20%) rotate(90deg);
       margin-right: 10px;


}

label {font-weight: 400;}

.contenido {display:flex;
    flex-direction: column;
margin-left: 10px;
margin-right: 10px;
margin-top: 20px;
margin-bottom: 20px;
line-height: 1.5rem;
gap: 1.4rem;}

.texto-advertencia strong {color: red;}
.advertencias-escritorio {display: none;}

.adv-escritorio {padding: 10px;
        background: #7ac6be1b;
        color: rgb(249, 0, 0);
        border: none;
        border-radius: 50px;
        font-weight: 400;}

/* Fin Contenido Formulario Movil */




/* Fin de Movil */


/* Escritorio */

@media screen and (max-width: 950px) {

    /* Navbar Escritorio */
    
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        background-color: white;
    }

    .nav.visible {
       opacity: 0.9;
       visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
        color: black;
        align-items: right;
        padding: 2rem;
    }

    .nav-list :hover{
        color: orange;
    }

    .nav-adopcion2{
        visibility:visible;
    }
    .nav-animales2{
        visibility: visible;
    }

    .nav-busca2{
        visibility: visible;
    }

    .nav-animales {  
        visibility: hidden;
    }

    .nav-busca { 
        visibility: hidden;
    }

    .nav-adopcion { 
        visibility: hidden;
    }

        .desplegable-animales {visibility: visible;}
    /* Fin de Navbar Escritorio */
    }

    /* Contenido Escritorio */
    @media screen and (min-width:800px)
    {.formulario{
        flex-direction: row;
        width: 90%;
        gap: 2rem;
    }
    .advertencias{display:none;}
    .advertencias-escritorio {display: flex;
    flex-direction: column;
    width: 100%;}
    }




    


/* Fin de Contenido Escritorio */